![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

 ### TÍTULO

El gasto militar se dispara. Retrospectiva por países de las partidas en defensa desde los años 90

### TEMA


Desde hace unos años, EEUU exige a sus aliados de la OTAN que aumenten su gasto en defensa. El actual presidente de EEUU, Donald Trump, quiere que los miembros de la Alianza Atlántica aumenten su gasto en defensa hasta el 5% del PIB.
En este estudio, nos peguntamos si esta es una cifra alta, comparando la partida que los diferentes países destinan a la defensa. Nos fijaremos por naciones y continentes en el gasto militar histórico, desde 1988, comparando las diferencias geoestratégicas y el gasto defensivo.

### HIPÓTESIS

hipotesis_1 = "El gasto militar tiende a disminuir en los países mientras se enriquecen más que el resto"

hipotesis_2 = "Los países del tercer mundo gastan más en defensa (proporcionalmente) que los del primer mundo"

hipotesis_3 = "Los países fronterizos de la OTAN gastan más que los de la propia OTAN"

hipotesis_4 = "EEUU no es el país que más gasta en defensa per cápita"

hipotesis_5 = "Los países de la OTAN gastan menos en defensa ahora que al final de la guerra fría (1989)"

hipotesis_6 = "El gasto militar en Oriente Medio es históricamente más estable que en Europa"

## OBTENCIÓN DE LOS DATOS

Los datos están extraídos delInstituto Internacional de Estudios para la Paz de Estocolmo (SIPRI), un think tank con sede en Estocolmo fundado en 1966 con motivo de 150 años de paz ininterrumpida en Suecia. Este observatorio proporciona datos con los que más tarde realiza recomendaciones a los países con el objetivo de la paz. 

De SIPRI he podrido extraer archivos en excel del gasto que destinan los países a la defensa. 

Tenemos 3 dataframes. El primero refleja el gasto en defensa per cápita. El segundo, el porcentaje del PIB destinado por cada país a armamento. El tercero recoge dicho gasto separado por regiones geográficas.

## VARIABLES - DATASETS Y SU FUENTE

df_1 = pd.DataFrame('PORCENTAJE PIB -GASTO DEFENSA.csv')
fuente_1 = "Instituto Internacional de Estudios para la Paz de Estocolmo"

- IMPORTES EN DÓLARES/ HABITANTE

df_2 = pd.DataFrame('GASTO DEFENSA - PER CAPITA.csv')
fuente_2 = "Instituto Internacional de Estudios para la Paz de Estocolmo"

df_3 = pd.DataFrame('REGIONES - GASTO DEFENSA.csv')
fuente_3 =  "Instituto Internacional de Estudios para la Paz de Estocolmo"

## A TENER EN CUENTA ANTES DE LA MANIPULACIÓN DE LOS DATOS

- Las cifras representadas son billions anglosajones, es decir, miles de millones en su lectura en español.
- El SIPRI ha ajustado a la inflación las cifras anteriores a 2023 para facilitar la comprensión de los datos. 
- Evidentemente, hay cifras estimadas por la organización en los casos en los que los datos se han perdido.
- En el caso de la URSS, los datos no son fiables, por lo que tomaremos los datos desde 1988. 




- IMPORTANTE CITAR:

"SIPRI Military Expenditure Database 2024, https://www.sipri.org/databases/milex"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [1]:
# dataset 1: GASTO EN DEFENSA DE CADA PAÍS PER CÁPITA
import pandas as pd
gasto_capita = pd.read_csv(r'C:\Users\pedlo\Desktop\MATERIALES BOOTCAMP DATA\EDAAAAAAA\GASTO DEFENSA - PER CAPITA.csv',skiprows=6)
gasto_capita.head()

,Country,Notes,1988,1989,1990,1991,1992,1993,1994,1995,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,#gid=1375736796&range=A15,"43,3","35,0","36,1","22,0","40,1","47,4","48,4","43,8",...,"262,7","252,7","244,1","227,6","240,2","222,2","205,2","202,7","398,5","469,1"
3,Libya,#gid=1375736796&range=A27,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,"169,2","216,5",...
4,Morocco,#gid=1375736796&range=A28,"39,4","41,8","44,3","46,7","49,1","49,2","52,9","54,9",...,"95,0","95,6","98,2","103,7","103,3","132,7","146,3","134,5","138,2","145,6"

In [11]:
# dataset 2 : GASTO DEFENSA SEGÚN PIB
gasto_pib = pd.read_csv(r'C:\Users\pedlo\Desktop\MATERIALES BOOTCAMP DATA\EDAAAAAAA\PORCENTAJE PIB -GASTO DEFENSA.csv', skiprows=5)
gasto_pib.head(10)

,Country,Notes,1960,1961,1962,1963,1964,1965,1966,1967,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,#gid=1375736796&range=A15,"1,61%","1,92%",...,"2,51%","3,50%","3,42%","3,51%","3,02%",...,"5,55%","5,65%","5,31%","4,93%","5,33%","5,89%","4,89%","4,06%","7,39%","7,97%"
4,Libya,#gid=1375736796&range=A27,"1,59%","1,86%","3,10%","2,41%","1,84%","1,86%","2,91%","3,36%",...,...,...,...,...,...,...,...,"4,35%","5,29%",...
5,Morocco,#gid=1375736796&range=A28,"2,32%","2,70%","2,57%","3,20%","2,84%","2,43%","2,68%","2,62%",...,"2,96%","2,98%","2,95%","2,90%","2,87%","3,98%","3,75%","3,81%","3,59%","3,52%"
6,Tunisia,NaN,"2,00%","2,22%","1,73%","1,51%","1,74%","1,29%","1,32%","1,42%",...,"2,14%","2,22%","2,03%","1,98%","2,38%","2,71%","2,63%","2,57%","2,49%","2,51%"
7,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Angola,#gid=1375736796&range=A12,...,...,...,...,...,...,...,...,...,"3,11%","2,73%","2,51%","1,96%","1,77%","1,81%","1,39%","1,41%","1,41%","1,00%"
9,Benin,§,"0,87%","1,40%","1,75%","1,74%","2,18%","2,11%","1,90%","1,98%",...,"0,80%","0,67%","0,92%","0,63%","0,47%","0,46%","0,55%","0,63%","0,76%","0,72%"

In [12]:
# dataset 3 : GASTO POR REGIONES 

gasto_regiones = pd.read_csv(r'C:\Users\pedlo\Desktop\MATERIALES BOOTCAMP DATA\EDAAAAAAA\REGIONES - GASTO DEFENSA.csv',skiprows=13)
gasto_regiones.head()

,Region,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2018,2019,2020,2021,2022,2023,2024,2024 (current prices),Unnamed: 39,Omitted countries
0,World,"1749,5","1728,7","1660,7",...,"1388,1","1325,2","1291,6","1220,7","1186,1",...,"2038,9","2124,5","2200,4","2222,6","2294,5","2447,4","2676,5","2718,2",NaN,NaN
1,Africa,"20,9","21,2","21,1","18,3","16,8","19,3","26,1","15,9","15,1",...,"40,6","41,1","42,3","44,4","42,5","50,2","51,7","52,1",NaN,"Djibouti, Eritrea, Somalia"
2,North Africa,"3,4","3,6","3,6","3,7","4,2","4,4","4,8","4,6","4,9",...,"18,3","19,2","19,9","19,0","18,3","26,2","28,5","30,2",NaN,NaN
3,sub-Saharan Africa,"17,4","17,6","17,5","14,6","12,6","14,9","21,3","11,3","10,2",...,"22,4","21,9","22,5","25,5","24,2","23,9","23,2","21,9",NaN,NaN
4,Americas,"862,5","853,5","815,1","721,2","755,5","722,2","690,6","652,9","617,3",...,"919,6","966,4","1010,6","999,1","987,1","1009,6","1068,4","1100,0",NaN,Cuba