In [1]:

import pandas as pd 

import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# dataset 3 : GASTO POR REGIONES 

gasto_regiones = pd.read_csv(r'C:\Users\pedlo\Desktop\MATERIALES BOOTCAMP DATA\EDAAAAAAA\REGIONES - GASTO DEFENSA.csv',skiprows=13)
gasto_regiones.head()

,Region,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2018,2019,2020,2021,2022,2023,2024,2024 (current prices),Unnamed: 39,Omitted countries
0,World,"1749,5","1728,7","1660,7",...,"1388,1","1325,2","1291,6","1220,7","1186,1",...,"2038,9","2124,5","2200,4","2222,6","2294,5","2447,4","2676,5","2718,2",NaN,NaN
1,Africa,"20,9","21,2","21,1","18,3","16,8","19,3","26,1","15,9","15,1",...,"40,6","41,1","42,3","44,4","42,5","50,2","51,7","52,1",NaN,"Djibouti, Eritrea, Somalia"
2,North Africa,"3,4","3,6","3,6","3,7","4,2","4,4","4,8","4,6","4,9",...,"18,3","19,2","19,9","19,0","18,3","26,2","28,5","30,2",NaN,NaN
3,sub-Saharan Africa,"17,4","17,6","17,5","14,6","12,6","14,9","21,3","11,3","10,2",...,"22,4","21,9","22,5","25,5","24,2","23,9","23,2","21,9",NaN,NaN
4,Americas,"862,5","853,5","815,1","721,2","755,5","722,2","690,6","652,9","617,3",...,"919,6","966,4","1010,6","999,1","987,1","1009,6","1068,4","1100,0",NaN,Cuba

In [3]:
gasto_regiones.set_index('Region',inplace=True)

In [4]:
gasto_regiones.drop('Unnamed: 39', axis=1, inplace=True)

In [5]:
gasto_regiones.drop('Omitted countries', axis=1, inplace=True)

In [6]:
gasto_regiones

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2024 (current prices)
Region,,,,,,,,,,,,,,,,,,,,,
World,"1749,5","1728,7","1660,7",...,"1388,1","1325,2","1291,6","1220,7","1186,1","1196,5",...,"1957,3","1980,4","2038,9","2124,5","2200,4","2222,6","2294,5","2447,4","2676,5","2718,2"
Africa,"20,9","21,2","21,1","18,3","16,8","19,3","26,1","15,9","15,1","16,1",...,"44,6","44,0","40,6","41,1","42,3","44,4","42,5","50,2","51,7","52,1"
North Africa,"3,4","3,6","3,6","3,7","4,2","4,4","4,8","4,6","4,9","5,3",...,"19,8","19,0","18,3","19,2","19,9","19,0","18,3","26,2","28,5","30,2"
sub-Saharan Africa,"17,4","17,6","17,5","14,6","12,6","14,9","21,3","11,3","10,2","10,8",...,"24,7","25,1","22,4","21,9","22,5","25,5","24,2","23,9","23,2","21,9"
Americas,"862,5","853,5","815,1","721,2","755,5","722,2","690,6","652,9","617,3","610,3",...,"895,2","893,4","919,6","966,4","1010,6","999,1","987,1","1009,6","1068,4","1100,0"
Central America and the Caribbean,"5,2","5,3","4,9","4,7","5,2","5,3","6,1","5,3","5,4","5,4",...,"10,2","9,6","10,5","11,6","14,2","13,9","14,8","14,8","19,5","19,8"
North America,"817,8","810,9","778,0","688,1","723,9","686,1","651,1","608,3","574,8","570,7",...,"833,7","829,8","853,9","900,6","942,7","932,7","921,7","943,2","997,4","1026,7"
South America,"39,6","37,3","32,2","28,4","26,4","30,9","33,4","39,4","37,1","34,2",...,"51,2","54,1","55,3","54,2","53,6","52,5","50,6","51,5","51,5","53,6"
Asia & Oceania,"133,2","140,2","146,7","149,2","156,1","159,7","160,8","165,7","170,0","176,3",...,"455,8","476,5","495,2","520,0","538,3","554,1","566,7","595,0","632,2","629,3"
Oceania,"15,7","15,6","15,8","15,9","16,2","16,7","16,9","16,4","16,3","16,5",...,"31,3","31,4","30,9","32,3","33,8","35,6","35,9","35,6","36,1","37,0"
South Asia,"25,7","26,8","26,8","25,9","25,5","28,1","28,3","29,6","30,0","32,1",...,"79,2","84,7","88,4","94,0","94,3","94,2","96,0","96,6","97,5","102,4"
East Asia,"76,3","80,9","85,5","88,6","95,2","95,3","94,7","96,9","99,9","102,5",...,"298,8","312,4","329,1","345,8","360,0","372,9","382,8","409,3","441,2","433,2"
South East Asia,"15,0","16,3","18,0","18,2","18,6","19,0","20,6","22,3","23,4","24,8",...,"44,3","46,0","44,5","45,2","47,8","49,0","50,1","51,6","55,4","54,9"
Central Asia,"0,5","0,6","0,6","0,6","0,6","0,7","0,4","0,4","0,5","0,5",...,"2,1","2,1","2,2","2,8","2,4","2,4","1,9","1,9","1,8","1,9"
Europe,"660,1","646,3","582,8",...,"375,3","344,4","337,9","313,5","310,9","314,0",...,"383,1","375,6","384,8","405,1","427,4","441,2","505,0","581,5","680,7","693,4"
Central Europe,"71,1","76,5","50,4","36,0","33,4","22,1","22,9","23,6","23,2","23,9",...,"28,8","31,2","35,0","39,7","42,5","44,1","45,3","55,7","70,4","75,0"
Eastern Europe,"282,7","262,1","221,8",...,"49,0","43,0","42,0","28,5","26,9","29,7",...,"89,8","74,4","73,4","77,4","80,2","81,4","136,0","181,2","224,9","221,1"
Western Europe,"306,3","307,7","310,6","305,0","292,9","279,2","273,0","261,5","260,8","260,4",...,"264,4","270,0","276,4","288,0","304,7","315,7","323,7","344,6","385,4","397,4"
Middle East,"72,8","67,4","95,0","107,1","84,4","79,6","76,1","72,7","72,9","79,8",...,"178,7","190,9","198,7","191,8","181,7","183,8","193,3","211,2","243,5","243,3"

In [7]:
gasto_regiones = gasto_regiones.replace(',', '.', regex=True)

In [8]:
regiones = gasto_regiones

In [9]:
regiones.to_csv('gasto_regiones.csv')